@use "../../variables/variable" as c;
.coffee-collection__container {
  padding: 96px 0;
  background-color: #F1F0E8;

  .coffee-collection__title {
    margin-bottom: 20px;
    font-size: 36px;
    color: #1C1917;
  }

  .coffee-collection__subtitle {
    max-width: 550px;
    margin-bottom: 20px;
    font-size: 14px;
    color: c.$text-green-color;
  }

  .coffee-collection__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }
}