.collection__container {
  padding: 96px 0;
  background-color: #F2F2EB;

  .collection__title {
    margin-bottom: 20px;
    font-size: 36px;
    color: #1C1917;
  }

  .collection__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}