@use '../../variables/variable' as c;

.header {
  background-color: black;

  .container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    .header__left {
      display: flex;
      align-items: center;

      .header__logo {
        width: 200px;
        padding: 8px;
        border-radius: 4px;
        background-color: c.$primary-color;
      }

      .header__list {
        display: flex;
        align-items: center;
        margin-left: 32px;

        .header__item {
          margin: 0 16px;
          font-size: 14px;
          color: c.$text-color;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }

    .header__right {
      display: flex;
      align-items: center;

      a, .header__right-cart {
        padding-right: 20px;
        color: #A8A29E;
        cursor: pointer;

        svg {
          width: 21.5px;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .border {
        border-right: 1px solid #A8A29E;
      }

      &-cart {
        padding: 0 6px 0 20px !important;
      }

      .cart-number {
        display: flex;
        width: 24px;
        height: 24px;
        background-color: c.$light-primary-color;
        border-radius: 4px;

        span {
          margin: auto;
        }
      }
    }
  }
}